  <!-- <poke-search (emmitSearch)="getSearch($event)"></poke-search> -->
  <ion-searchbar (ionChange)="onSearchChange($event)" [(ngModel)]="term" showCancelButton="focus" ></ion-searchbar>
        <ion-list>
            <app-pokemon *ngFor="let pokemon of pokemons | filter: term"  [pokemon]="pokemon"></app-pokemon>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPokemon($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Đang tải...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>



  <!-- <img
      src="assets/icons/404.png"
      alt="Pokemon not found"
      width="100%"
      *ngIf="apiError"
    > -->
