@import '../../../assets/config-scss/rem-calc.scss';

form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: rem-calc(15) rem-calc(20);
  border-radius: rem-calc(10);

  input{
    width: 95%;
    background: none;
    border: none;

    font-size: rem-calc(18);
    color: white;
    &::placeholder{
      color: white;
    }
  }

}
