@import './rem-calc.scss';

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding: rem-calc(20) 0;
	border-radius: rem-calc(10);

	text-decoration: none;

	&__primary {
		color: white;
		background: #262935;
	}

	&__secondary {
		color: white;
		background: #ff5473;
	}
}
