<ion-item *ngIf="pokemonDetail">
  <ion-avatar>
      <img [src]="pokemonDetail.sprites.front_default" alt="pokemonDetail.name" routerLink="/details/{{pokemonDetail.id}}">
  </ion-avatar>
  <ion-label >
    <h3>{{pokemonDetail.name |titlecase}}</h3>
    <h4 *ngFor="let value of pokemonDetail.types">Type: {{value.type.name | titlecase}}</h4>
  </ion-label>
</ion-item>
